*
{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.container
{
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
background: #5684c9;
font-family: 'Nunito','sans-serif';
padding: 0 20px;
}

img
{
width: 200px;
}

.card-container
{
display: flex;
width: 600px;
height: auto;
background: #fff;
border-radius: 2px;
box-shadow: 1px 1px 4px 2px rgba(0, 0,0, .2);
}
.header
{
border-right: 1px solid #ddd;
}

.descripcion
{
background: #fbfbfb;
}

.header,.descripcion
{
padding: 20px;
text-align: center;
}

.header a
{
position: relative;
display: block;
}

.header img
{
border-radius: 50%;
box-shadow: 0 0 0 8px rgba(0,0,0,.06);
margin: 20px 30px;
transition: .2s;
}

.header a:hover img
{
box-shadow: 0 0 0 12px rgba(0,0,0,.1);
}

.header h2
{
color: #f0522a;
}


.header h4
{
margin-bottom: 20px;
}

.descripcion
{
position: relative;
}


.descripcion p
{
margin: 20px 30px;
}

.skill
{
width: 200px;
height: 376px;
background: rgb(9, 9, 117);
}



.len
{
width: 100px;
border-radius:20px;
}

.react{
position: relative;
top: 20px;
left: 50px;
}


.nodejs{
position: relative;
top: 50px;
left: 50px;
}


.net{
position: relative;
top: 70px;
left: 50px;
}







